In [10]:
import sqlite3
connection = sqlite3.connect('test.db')
connection

In [11]:
cursor = connection.cursor()

In [14]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
''')
# commit the changes 
connection.commit()

In [ ]:
cursor.execute('''
  select*from employees
''')

In [24]:
# insert the data in sqlite table 
cursor.execute('''
Insert into employees(name,age,department)
               values('karan',20,'data science')
''')
cursor.execute('''
INSERT into employees(name,age,department)
               values('mayank',20,'data science')
''')


connection.commit()

In [26]:
# Query the data from the table 
cursor.execute('Select*from employees')
rows = cursor.fetchall()
# print the data
for row in rows:
    print(row)

(1, 'karan', 20, 'data science')
(2, 'karan', 20, 'data science')
(3, 'karan', 20, 'data science')
(4, 'karan', 20, 'data science')
(5, 'mayank', 20, 'data science')
(6, 'karan', 20, 'data science')
(7, 'mayank', 20, 'data science')

In [ ]:
# update the data in table