In [13]:
def greet(name):
    print(f"Hello {name}")
    greet("karan")

In [14]:
def greet(name="Guest"):
    print(f"Hello {name}")
greet()

Hello Guest

In [15]:
## variable length argument 
## positional and keywords arguments 

def print_numbers(*args):
    for number in args:
        print(number)

In [16]:
print_numbers(1,2,3,4,5,6,7,8,"args")

1
2
3
4
5
6
7
8
args

In [17]:
# keywords arguments 
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [18]:
print_details(name="karan",age="20",Department="Data Science")

name:karan
age:20
Department:Data Science

In [19]:
def print_details(*args,**kwargs):
    for val in args:
        print(f"{val}")
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [20]:
print_details(1,2,3,4,5,6,"karan",name="karan",age="20",Department="Data Science")

1
2
3
4
5
6
karan
name:karan
age:20
Department:Data Science

In [21]:
## return statements
def mul(a,b):
    return a*b

In [22]:
mul(3,4)

12

In [23]:
## return statements
def mul(a,b):
    return a*b,a

In [25]:
mul(3,4)

(12, 3)

In [27]:
def numbers(a):
    if a % 2 == 0 :
        print("even")
    else:
        print("odd")

In [28]:
numbers(4)

even

In [29]:
"""
You are given a temperature in Celsius. Your task is to convert it to Fahrenheit and return the result.

Formula:

To convert Celsius to Fahrenheit, use the formula:

F = (9/5 * C) + 32

Where F is the temperature in Fahrenheit and C is the temperature in Celsius.
Input:

A floating-point number C representing the temperature in Celsius.
Output:
A floating-point number representing the temperature in Fahrenheit.
Example:
Input: C = 25
Output: 77.0
Input: C = 0
Output: 32.0
Disclaimer: This Udemy coding exercise is still in development, so some advanced complexities might not be fully checked. Please use it primarily for basic code validation.


"""
def celsius_to_fahrenheit(C):
    """
    Function to convert temperature from Celsius to Fahrenheit.

    Parameters:
    C (float): The temperature in Celsius.

    Returns:
    float: The temperature in Fahrenheit.
    """
    F = (9/5) * C + 32
    return F

In [30]:
## agr hume kissi bhi number ki ceiling value chaiye toh hume hamehsa 
## (import math) karana padega
#3 the math.ceil krna hoga

In [2]:
# count = 0
# while(file.readline()):
#    count = 1
# print("no of lines:",c)

{"name": "karan", "age": 20}
<class 'str'>
{'name': 'karan', 'age': 20}
<class 'dict'>