In [58]:
import sqlite3
connection = sqlite3.connect('test.db')
connection

In [59]:
cursor = connection.cursor()

In [60]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
''')
# commit the changes 
connection.commit()

In [61]:
cursor.execute('''
  select*from employees
''')

In [69]:
cursor.execute("INSERT INTO employees(name,age,department) VALUES('karan',20,'data science')")
cursor.execute("INSERT INTO employees(name,age,department) VALUES('mayank',20,'data science')")
connection.commit()
cursor.execute("SELECT * FROM employees")
print(cursor.fetchall())

[(1, 'karan', 20, 'data science'), (2, 'karan', 20, 'data science'), (3, 'karan', 20, 'data science'), (4, 'karan', 20, 'data science'), (5, 'mayank', 21, 'data science'), (6, 'karan', 20, 'data science'), (7, 'mayank', 21, 'data science'), (8, 'karan', 20, 'data science'), (9, 'mayank', 21, 'data science'), (10, 'karan', 20, 'data science'), (11, 'mayank', 21, 'data science'), (12, 'karan', 20, 'data science'), (13, 'mayank', 21, 'data science'), (14, 'karan', 20, 'data science'), (15, 'mayank', 21, 'data science'), (16, 'karan', 20, 'data science'), (17, 'mayank', 20, 'data science'), (18, 'karan', 20, 'data science'), (19, 'mayank', 20, 'data science'), (20, 'karan', 20, 'data science'), (21, 'mayank', 20, 'data science')]

In [68]:
# Get only the latest 2 rows
cursor.execute("SELECT * FROM employees ORDER BY id DESC LIMIT 2")
rows = cursor.fetchall()

# Print them using loop
for row in rows:
    print(row)

(19, 'mayank', 20, 'data science')
(18, 'karan', 20, 'data science')

In [70]:
# update the data in table 
cursor.execute('''
update employees
set age = 21
where name="mayank"
''')
# changes the commits
connection.commit()

In [74]:
# Get only the latest 2 rows
cursor.execute("SELECT * FROM employees ORDER BY id DESC LIMIT 2")
rows = cursor.fetchall()

# Print them using loop
for row in rows:
    print(row)

(21, 'mayank', 21, 'data science')
(20, 'karan', 20, 'data science')

In [79]:
## delete the data from table 
cursor.execute('''
Delete from employees 
    where name = 'mayank'
''')
connection.commit()

In [80]:
# Get only the latest 2 rows
cursor.execute("SELECT * FROM employees ORDER BY id DESC LIMIT 2")
rows = cursor.fetchall()

# Print them using loop
for row in rows:
    print(row)

(20, 'karan', 20, 'data science')
(18, 'karan', 20, 'data science')