In [6]:
import pandas as pd 
data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam','Aditi','Jagdish', 'Raj', 'Simran'],
    "Age": [28,34,22,30, 29,40,25,32],
    "Salary": [50000,60000,45000,52000,49000, 70000,48000,58000],
    "Performance_Score": [85,90,78,92, 88,95,80,89]
}
df = pd.DataFrame(data)
print(df)
df["Bonus"] = df['Salary']*0.1
print(df)
# using insert 
# df.insert(loc,"column_name",some data)
df.insert(0,"Employee ID",[10,20,30,40,50,60,70,80])
print(df)

        Name  Age  Salary  Performance_Score
0        Ram   28   50000                 85
1      Shyam   34   60000                 90
2  Ghanshyam   22   45000                 78
3  Dhanshyam   30   52000                 92
4      Aditi   29   49000                 88
5    Jagdish   40   70000                 95
6        Raj   25   48000                 80
7     Simran   32   58000                 89
        Name  Age  Salary  Performance_Score   Bonus
0        Ram   28   50000                 85  5000.0
1      Shyam   34   60000                 90  6000.0
2  Ghanshyam   22   45000                 78  4500.0
3  Dhanshyam   30   52000                 92  5200.0
4      Aditi   29   49000                 88  4900.0
5    Jagdish   40   70000                 95  7000.0
6        Raj   25   48000                 80  4800.0
7     Simran   32   58000                 89  5800.0
   Employee ID       Name  Age  Salary  Performance_Score   Bonus
0           10        Ram   28   50000                 85  5000.0
1           20      Shyam   34   60000                 90  6000.0
2           30  Ghanshyam   22   45000                 78  4500.0
3           40  Dhanshyam   30   52000                 92  5200.0
4           50      Aditi   29   49000                 88  4900.0
5           60    Jagdish   40   70000                 95  7000.0
6           70        Raj   25   48000                 80  4800.0
7           80     Simran   32   58000                 89  5800.0

# Updating Values

In [9]:
#.loc
#df.loc[row_index,"Column name"] = new value
df.loc[0,"Salary"] = 80000
print(df)
# increasing salary by 5%
df['Salary'] = df['Salary']*1.05
print(df)

   Employee ID       Name  Age   Salary  Performance_Score   Bonus
0           10        Ram   28  80000.0                 85  5000.0
1           20      Shyam   34  63000.0                 90  6000.0
2           30  Ghanshyam   22  47250.0                 78  4500.0
3           40  Dhanshyam   30  54600.0                 92  5200.0
4           50      Aditi   29  51450.0                 88  4900.0
5           60    Jagdish   40  73500.0                 95  7000.0
6           70        Raj   25  50400.0                 80  4800.0
7           80     Simran   32  60900.0                 89  5800.0
   Employee ID       Name  Age   Salary  Performance_Score   Bonus
0           10        Ram   28  84000.0                 85  5000.0
1           20      Shyam   34  66150.0                 90  6000.0
2           30  Ghanshyam   22  49612.5                 78  4500.0
3           40  Dhanshyam   30  57330.0                 92  5200.0
4           50      Aditi   29  54022.5                 88  4900.0
5           60    Jagdish   40  77175.0                 95  7000.0
6           70        Raj   25  52920.0                 80  4800.0
7           80     Simran   32  63945.0                 89  5800.0