In [7]:
#step-1 sample data frame
import pandas as pd
data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam','Aditi','Jagdish', 'Raj', 'Simran'],
    "Age": [28,34,22,30, 29,40,25,32],
    "Salary": [50000,60000,45000,52000,49000, 70000,48000,58000],
    "Performance Score": [85,90,78,92, 88,95,80,89]
}
df = pd.DataFrame (data)
print("Sample Dataframe")
print(df)
print('Descriptive Statistics')
print(df.describe())

Sample Dataframe
        Name  Age  Salary  Performance Score
0        Ram   28   50000                 85
1      Shyam   34   60000                 90
2  Ghanshyam   22   45000                 78
3  Dhanshyam   30   52000                 92
4      Aditi   29   49000                 88
5    Jagdish   40   70000                 95
6        Raj   25   48000                 80
7     Simran   32   58000                 89
Descriptive Statistics
             Age        Salary  Performance Score
count   8.000000      8.000000           8.000000
mean   30.000000  54000.000000          87.125000
std     5.529144   8194.074514           5.817154
min    22.000000  45000.000000          78.000000
25%    27.250000  48750.000000          83.750000
50%    29.500000  51000.000000          88.500000
75%    32.500000  58500.000000          90.500000
max    40.000000  70000.000000          95.000000

In [8]:
"""
1- how big is your dataset
2- what are the names of columns
shape and columns
"""

'\n1- how big is your dataset\n2- what are the names of columns\nshape and columns\n'

In [9]:
data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam','Aditi','Jagdish', 'Raj', 'Simran'],
    "Age": [28,34,22,30, 29,40,25,32],
    "Salary": [50000,60000,45000,52000,49000, 70000,48000,58000],
    "Performance Score": [85,90,78,92, 88,95,80,89]
}
df = pd.DataFrame(data)
print(df)
print(f'Shape:{df.shape}')
print(f'Column Names:{df.columns}')

        Name  Age  Salary  Performance Score
0        Ram   28   50000                 85
1      Shyam   34   60000                 90
2  Ghanshyam   22   45000                 78
3  Dhanshyam   30   52000                 92
4      Aditi   29   49000                 88
5    Jagdish   40   70000                 95
6        Raj   25   48000                 80
7     Simran   32   58000                 89
Shape:(8, 4)
Column Names:Index(['Name', 'Age', 'Salary', 'Performance Score'], dtype='object')

In [10]:
data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam','Aditi','Jagdish', 'Raj', 'Simran'],
    "Age": [28,34,22,30, 29,40,25,32],
    "Salary": [50000,60000,45000,52000,49000, 70000,48000,58000],
    "Performance Score": [85,90,78,92, 88,95,80,89]
}


df = pd.DataFrame(data)
#Display the dataframe
#print("Sample Dataframe")
#print(df)
print("Name(single column eturn series)")
name = df['Name']
print(name)
## slecting multiple column  
subset = df[["Name","Salary"]]
print('\nubset with name and Salary')
print(subset)

Name(single column eturn series)
0          Ram
1        Shyam
2    Ghanshyam
3    Dhanshyam
4        Aditi
5      Jagdish
6          Raj
7       Simran
Name: Name, dtype: object

ubset with name and Salary
        Name  Salary
0        Ram   50000
1      Shyam   60000
2  Ghanshyam   45000
3  Dhanshyam   52000
4      Aditi   49000
5    Jagdish   70000
6        Raj   48000
7     Simran   58000