# Missing.py

In [5]:
import pandas as pd 
data = {
    "Name": ['Ram', None, 'Ghanshyam', 'Dhanshyam','Aditi','Jagdish', 'Raj', 'Simran'],
    "Age": [28,None,22,30, 29,40,25,32],
    "Salary": [50000,None,45000,52000,49000, 70000,48000,58000],
    "Performance_Score": [85,90,78,92, 88,95,80,89]
}
df = pd.DataFrame(data)
print(df)
print(df.isnull().sum())

        Name   Age   Salary  Performance_Score
0        Ram  28.0  50000.0                 85
1       None   NaN      NaN                 90
2  Ghanshyam  22.0  45000.0                 78
3  Dhanshyam  30.0  52000.0                 92
4      Aditi  29.0  49000.0                 88
5    Jagdish  40.0  70000.0                 95
6        Raj  25.0  48000.0                 80
7     Simran  32.0  58000.0                 89
Name                 1
Age                  1
Salary               1
Performance_Score    0
dtype: int64

# Handle.py

In [ ]:
# missing ko values ko hatane ke liye 
# df.dropna(inplace=True) yha per hum axis ki value dal kr row wise and column wise kr skte hai 
import pandas as pd 
data = {
    "Name": ['Ram', None, 'Ghanshyam', 'Dhanshyam','Aditi','Jagdish', 'Raj', 'Simran'],
    "Age": [28,None,22,30, 29,40,25,32],
    "Salary": [50000,None,45000,52000,49000, 70000,48000,58000],
    "Performance_Score": [85,90,78,92, 88,95,80,89]
}
df = pd.DataFrame(data)
print(df)
df.dropna(inplace=True)
print(df)

        Name   Age   Salary  Performance_Score
0        Ram  28.0  50000.0                 85
1       None   NaN      NaN                 90
2  Ghanshyam  22.0  45000.0                 78
3  Dhanshyam  30.0  52000.0                 92
4      Aditi  29.0  49000.0                 88
5    Jagdish  40.0  70000.0                 95
6        Raj  25.0  48000.0                 80
7     Simran  32.0  58000.0                 89
        Name   Age   Salary  Performance_Score
0        Ram  28.0  50000.0                 85
2  Ghanshyam  22.0  45000.0                 78
3  Dhanshyam  30.0  52000.0                 92
4      Aditi  29.0  49000.0                 88
5    Jagdish  40.0  70000.0                 95
6        Raj  25.0  48000.0                 80
7     Simran  32.0  58000.0                 89

In [10]:
#fill Nan value 
import pandas as pd 
data = {
    "Name": ['Ram', None, 'Ghanshyam', 'Dhanshyam','Aditi','Jagdish', 'Raj', 'Simran'],
    "Age": [28,None,22,30, 29,40,25,32],
    "Salary": [50000,None,45000,52000,49000, 70000,48000,58000],
    "Performance_Score": [85,90,78,92, 88,95,80,89]
}
df = pd.DataFrame(data)
print(df)
# df.fillna(0,inplace=True)
# print(df)
# agr nan vlaue ki jgh hume mean fill krna hai like agr salary etc
df['Age'].fillna(df['Age'].mean(),inplace=True)
print(df)
# same aaise hum salary me bhi kr skte hai 
df['Salary'].fillna(df['Salary'].mean(),inplace=True)
print(df)

        Name   Age   Salary  Performance_Score
0        Ram  28.0  50000.0                 85
1       None   NaN      NaN                 90
2  Ghanshyam  22.0  45000.0                 78
3  Dhanshyam  30.0  52000.0                 92
4      Aditi  29.0  49000.0                 88
5    Jagdish  40.0  70000.0                 95
6        Raj  25.0  48000.0                 80
7     Simran  32.0  58000.0                 89
        Name        Age   Salary  Performance_Score
0        Ram  28.000000  50000.0                 85
1       None  29.428571      NaN                 90
2  Ghanshyam  22.000000  45000.0                 78
3  Dhanshyam  30.000000  52000.0                 92
4      Aditi  29.000000  49000.0                 88
5    Jagdish  40.000000  70000.0                 95
6        Raj  25.000000  48000.0                 80
7     Simran  32.000000  58000.0                 89
        Name        Age        Salary  Performance_Score
0        Ram  28.000000  50000.000000                 85
1       None  29.428571  53142.857143                 90
2  Ghanshyam  22.000000  45000.000000                 78
3  Dhanshyam  30.000000  52000.000000                 92
4      Aditi  29.000000  49000.000000                 88
5    Jagdish  40.000000  70000.000000                 95
6        Raj  25.000000  48000.000000                 80
7     Simran  32.000000  58000.000000                 89