# Shorting & Aggregation

In [3]:
# sorting data
#sorting data one column sort_values()
#df.sort_values(by="column name",True/False, inplace=True)
import pandas as pd 
Data = {
    "Name":['karan','mayank','prabhat','faizan'],
    "Age":[19,22,23,20],
    "Salary":[80000,50000,70000,60000]
}
df = pd.DataFrame(Data)
df.sort_values(by="Salary",ascending=True,inplace=True)
print("Sorted salary by Descending: ")
print(df)

Sorted salary by Descending:
      Name  Age  Salary
1   mayank   22   50000
3   faizan   20   60000
2  prabhat   23   70000
0    karan   19   80000

In [4]:
## multiple column ko sort krna 
import pandas as pd 
Data = {
    "Name":['karan','mayank','prabhat','faizan'],
    "Age":[19,22,23,20],
    "Salary":[80000,50000,70000,60000]
}
df = pd.DataFrame(Data)
df.sort_values(by=["Age","Salary"],ascending=[True,False],inplace=True)
print("Sorted salary by Descending: ")
print(df)

Sorted salary by Descending:
      Name  Age  Salary
0    karan   19   80000
3   faizan   20   60000
1   mayank   22   50000
2  prabhat   23   70000

In [6]:
# Aggregation means summary 
# df["column_name"].mean()
# df["column_name"].sum()
# df["column_name"].min()
# df["column_name"].max()
import pandas as pd 
Data = {
    "Name":['karan','mayank','prabhat','faizan'],
    "Age":[19,22,23,20],
    "Salary":[80000,50000,70000,60000]
}
df = pd.DataFrame(Data)
avg_salary = df['Salary'].mean()
print(avg_salary)

65000.0

# Group.py

In [ ]:


import pandas as pd
data = {
"Name": ['Arun', 'Varun', 'Karun', 'Narun', 'Marun'],
"Age": [28, 34,22,34,28],
"Salary": [50000, 60000, 45000, 52000, 480000]
}
df = pd. DataFrame(data)
grouped = df. groupby ("Age") ["Salary"]. sum()
print (grouped)

# dr.groupby ("Age")
# age = 22 > [45000] =
# age = 28 [50000,480000]
# age = 34 [60000, 52000]


# [Salaryl.sum()
# age = 22 > [45000] = 45000
# age = 28 [50000, 480000] = 530000
# age = 34 [60000, 52000] = 11200

Age
22     45000
28    530000
34    112000
Name: Salary, dtype: int64

In [8]:
# for multiple column 
import pandas as pd
data = {
"Name": ['Arun', 'Varun', 'Karun', 'Narun', 'Marun'],
"Age": [28, 34,22,34,28],
"Salary": [50000, 60000, 45000, 52000, 480000]
}
df = pd. DataFrame(data)
grouped = df. groupby (["Age","Name"]) ["Salary"]. sum()
print (grouped)

Age  Name
22   Karun     45000
28   Arun      50000
     Marun    480000
34   Narun     52000
     Varun     60000
Name: Salary, dtype: int64

In [ ]:
# for multiple column 
import pandas as pd
data = {
"Name": ['Arun', 'Varun', 'Karun', 'Narun', 'Marun'],
"Age": [28, 34,22,34,28],
"Salary": [50000, 60000, 45000, 52000, 480000]
}
df = pd. DataFrame(data)
grouped = df. groupby (["Age","Name"]) ["Salary"]. sum()
print (grouped)