In [ ]:
"""Key Differences Between Data Manipulation and Analysis
Aspect.    Data Manipulation.            Data Analysis.  
Focus      Preparing and cleaning data.       Extracting insights from prepared data
Goal.      Organize and structure raw data.   Find patterns, trends, and solve problemslms
Example.   Fixing errors in a student's grade sheet.  Analyzing which student scored the highest"""
"""
What is Pandas?
• Pandas is a powerful and popular Python library designed for data manipulation (cleaning, transforming, and structuring data) and data analysis (finding patterns, trends, and insights).
• It simplifies working with structured datasets like tables, spreadsheets, or time-series data.

"""
"""
What Makes Pandas Unique?
Key Features:
a.
Works seamlessly with structured data formats like CSV and Excel.
Handles missing values easily.
c. Built on NumPy for fast computations.
• Why Use Pandas?
a.
Performance: Handles millions of rows efficiently.
Ease of Use: Beginner-friendly syntax for cleaning and transforming data.
c.
Integration: Works with libraries like Matplotlib (visualizations) and Scikit-l
####Key Pandas Concepts
Series:
A Series is a one-dimensional labeled array that can hold any data type: integers, floats, strings, or even Python objects. Each element in the Series has a unique label called an index.
• It is often used to track changes or patterns over time, such as daily temperatures, stock prices, or sales revenue.

"""

# How to read csv file

In [ ]:
import pandas as pd
# read data from csv file into the data frame 
df = pd.read_csv("/Users/karansingh/Desktop/zomato.csv",encoding="latin1") #UTF-8
print(df)

      Restaurant ID           Restaurant Name  Country Code              City  \
0           6317637          Le Petit Souffle           162       Makati City
1           6304287          Izakaya Kikufuji           162       Makati City
2           6300002    Heat - Edsa Shangri-La           162  Mandaluyong City
3           6318506                      Ooma           162  Mandaluyong City
4           6314302               Sambo Kojin           162  Mandaluyong City
...             ...                       ...           ...               ...
9546        5915730              NamlÛ± Gurme           208         ÛÁstanbul
9547        5908749             Ceviz AÛôacÛ±           208         ÛÁstanbul
9548        5915807                     Huqqa           208         ÛÁstanbul
9549        5916112              Aôôk Kahve           208         ÛÁstanbul
9550        5927402  Walter's Coffee Roastery           208         ÛÁstanbul

                                                Address  \
0     Third Floor, Century City Mall, Kalayaan Avenu...
1     Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2     Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3     Third Floor, Mega Fashion Hall, SM Megamall, O...
4     Third Floor, Mega Atrium, SM Megamall, Ortigas...
...                                                 ...
9546  Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...
9547  Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...
9548  Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...
9549  Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...
9550  CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...

                                        Locality  \
0      Century City Mall, Poblacion, Makati City
1     Little Tokyo, Legaspi Village, Makati City
2     Edsa Shangri-La, Ortigas, Mandaluyong City
3         SM Megamall, Ortigas, Mandaluyong City
4         SM Megamall, Ortigas, Mandaluyong City
...                                          ...
9546                                    Karakí_y
9547                                   Koôuyolu
9548                                 Kuruí_eôme
9549                                 Kuruí_eôme
9550                                        Moda

                                       Locality Verbose   Longitude  \
0     Century City Mall, Poblacion, Makati City, Mak...  121.027535
1     Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101
2     Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831
3     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475
4     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508
...                                                 ...         ...
9546                                Karakí_y, ÛÁstanbul   28.977392
9547                               Koôuyolu, ÛÁstanbul   29.041297
9548                             Kuruí_eôme, ÛÁstanbul   29.034640
9549                             Kuruí_eôme, ÛÁstanbul   29.036019
9550                                    Moda, ÛÁstanbul   29.026016

       Latitude                          Cuisines  ...          Currency  \
0     14.565443        French, Japanese, Desserts  ...  Botswana Pula(P)
1     14.553708                          Japanese  ...  Botswana Pula(P)
2     14.581404  Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)
3     14.585318                   Japanese, Sushi  ...  Botswana Pula(P)
4     14.584450                  Japanese, Korean  ...  Botswana Pula(P)
...         ...                               ...  ...               ...
9546  41.022793                           Turkish  ...  Turkish Lira(TL)
9547  41.009847   World Cuisine, Patisserie, Cafe  ...  Turkish Lira(TL)
9548  41.055817            Italian, World Cuisine  ...  Turkish Lira(TL)
9549  41.057979                   Restaurant Cafe  ...  Turkish Lira(TL)
9550  40.984776                              Cafe  ...  Turkish Lira(TL)

     Has Table booking Has Online delivery Is delivering now  \
0                  Yes                  No                No
1                  Yes                  No                No
2                  Yes                  No                No
3                   No                  No                No
4                  Yes                  No                No
...                ...                 ...               ...
9546                No                  No                No
9547                No                  No                No
9548                No                  No                No
9549                No                  No                No
9550                No                  No                No

     Switch to order menu Price range  Aggregate rating  Rating color  \
0                      No           3               4.8    Dark Green
1                      No           3               4.5    Dark Green
2                      No           4               4.4         Green
3                      No           4               4.9    Dark Green
4                      No           4               4.8    Dark Green
...                   ...         ...               ...           ...
9546                   No           3               4.1         Green
9547                   No           3               4.2         Green
9548                   No           4               3.7        Yellow
9549                   No           4               4.0         Green
9550                   No           2               4.0         Green

     Rating text Votes
0      Excellent   314
1      Excellent   591
2      Very Good   270
3      Excellent   365
4      Excellent   229
...          ...   ...
9546   Very Good   788
9547   Very Good  1034
9548        Good   661
9549   Very Good   901
9550   Very Good   591

[9551 rows x 21 columns]

# How to read xls file

In [ ]:
# import pandas as pd
# df = pd.read_excel("/Users/karansingh/Desktop/Data_Train.xlsx", encoding="latin1") ## pd.read_json -> json file ko read krne ke liye hota hai 
# print(df)

In [12]:
df = pd.read_excel("/Users/karansingh/Desktop/Data_Train.xlsx")
print(df)

           Airline Date_of_Journey    Source Destination  \
0           IndiGo      24/03/2019  Banglore   New Delhi
1        Air India       1/05/2019   Kolkata    Banglore
2      Jet Airways       9/06/2019     Delhi      Cochin
3           IndiGo      12/05/2019   Kolkata    Banglore
4           IndiGo      01/03/2019  Banglore   New Delhi
...            ...             ...       ...         ...
10678     Air Asia       9/04/2019   Kolkata    Banglore
10679    Air India      27/04/2019   Kolkata    Banglore
10680  Jet Airways      27/04/2019  Banglore       Delhi
10681      Vistara      01/03/2019  Banglore   New Delhi
10682    Air India       9/05/2019     Delhi      Cochin

                       Route Dep_Time  Arrival_Time Duration Total_Stops  \
0                  BLR → DEL    22:20  01:10 22 Mar   2h 50m    non-stop
1      CCU → IXR → BBI → BLR    05:50         13:15   7h 25m     2 stops
2      DEL → LKO → BOM → COK    09:25  04:25 10 Jun      19h     2 stops
3            CCU → NAG → BLR    18:05         23:30   5h 25m      1 stop
4            BLR → NAG → DEL    16:50         21:35   4h 45m      1 stop
...                      ...      ...           ...      ...         ...
10678              CCU → BLR    19:55         22:25   2h 30m    non-stop
10679              CCU → BLR    20:45         23:20   2h 35m    non-stop
10680              BLR → DEL    08:20         11:20       3h    non-stop
10681              BLR → DEL    11:30         14:10   2h 40m    non-stop
10682  DEL → GOI → BOM → COK    10:55         19:15   8h 20m     2 stops

      Additional_Info  Price
0             No info   3897
1             No info   7662
2             No info  13882
3             No info   6218
4             No info  13302
...               ...    ...
10678         No info   4107
10679         No info   4145
10680         No info   7229
10681         No info  12648
10682         No info  11753

[10683 rows x 11 columns]